<h1 class="animated fast">Acerca de la página</h1>
<hr>
 <p class="animated fast fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
</p>
<hr>
 <p class="animated fast fadeIn">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque ullam, 
    deserunt pariatur iusto molestiae voluptates aperiam placeat sapiente aspernatur quis soluta, aliquid ex eius quo! 
    Obcaecati perspiciatis iure possimus? Fugiat!
</p>
